.logo{
    width: 130px;
}
.header{
    color:darkviolet;
   
 }
 .header-btn{
     border: none;
     background-color: rgb(246, 236, 240);
     color: darkviolet;
     
 }
 .header-btn:hover{
     border: none;
     background-color:darkviolet;
     color:whitesmoke;
     
 }